backend/logs/*.log
backend/node_modules
frontend/node_modules
frontend/.env
backend/.env

# Dependencies
node_modules/

# Environment files
.env
*.env

# Logs
logs/
*.log

# Build folders
dist/
build/

# Logs
*.log
logs/
backend/logs/
frontend/logs/

# Package lock files
package-lock.json
**/package-lock.json

backend/logs/pino-logger.log
backend/logs/scheduler-events.log