NODE_ENV=
REDIS_URL=
REDIS_PASSWORD=
JWT_SECRET=
MONGO_URI=
MONGODB_URI=
MONGO_URI_LOCAL=
PORT=

# CORS / App URLs
FRONTEND_URL=
MOBILE_APP_URL=

#AWS KEYS
AWS_S3_ACCESS_KEY_ID=
AWS_S3_SECRET_KEY=
AWS_S3_REGION=
AWS_S3_ENDPOINT=
AWS_S3_BUCKET_NAME=playground
AWS_S3_FOLDER_TASK_ATTACHMENTS=balagruha-task-attachments
AWS_S3_FOLDER_MEDICAL_RECORDS=student-medical-records
AWS_S3_FOLDER_MEDICAL_ATTACHMENTS=student-medical-records
AWS_S3_FOLDER_SPORTS_TASK_ATTACHMENTS=balagruha-sports-task-attachments
AWS_S3_FOLDER_REPAIR_REQUEST_ATTACHMENTS=balagruha-repair-request-attachments
AWS_S3_FOLDER_PURCHASE_ORDER_ATTACHMENTS=balagruha-purchase-order-attachments
AWS_S3_FOLDER_WTF=wtfpins
AWS_S3_FOLDER_SHOP_PRODUCTS=balagruha-shop-product-images
AWS_S3_FOLDER_LMS_CONTENT=balagruha-lms-content
